@model List<StudentDevelopmentPortal.Models.AdminModels.Student>
@{
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
    var FacultyId = ViewBag.FacultyId;
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary fw-bold">
                Problem Submissions
            </h2>
        </div>
    </div>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>Prn</th>
            <th>StudentName</th>
            <th>Program</th>
            <th>IsCorrect</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                var student = Model[i];
                var studentIsCorrect = ViewBag.StudentIsCorrect[i];
                if (studentIsCorrect == null)
                {
                    studentIsCorrect = 0;
                }

                    <tr>
                        <td>@student.Prn</td>
                        <td>@student.FullName</td>
                        <td>@student.Program</td>
                        <td>
                        @studentIsCorrect
                        </td>
                        <td class="text-center col-3">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="FacultyProblem" asp-action="ViewSolution" asp-route-Prn="@student.Prn" asp-route-ProblemId="@ViewBag.ProblemId" asp-route-FacultyId="@FacultyId" class="btn btn-success mx-2">
                                    <i class="bi bi-eye"></i> View Solution
                                </a>
                            </div>
                        </td>
                   </tr>
            }

    </tbody>
</table>


</div>
